/** header section style **/
/** start **/
.header-section{
    height: 100vh;
    position: relative;
    display: flex;
    align-items: center;
    max-height: 990px;
}
.header-bg{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.header-bg img {
    width: 100%;
    height: 100%;
}
.welcomig-pragraph{
    color: var(--whiteColor);
    font-family: var(--Font2);
    font-weight: 300;
    position: relative;
    max-width: 653px;
    padding: 42px 49px;
    border: 3.5px solid var(--whiteColor);
    text-transform: uppercase;
    font-size: 4.6em;
    margin-top: 126px;
}
/** end **/

/** header section media **/
/** start **/
@media screen and (max-width: 990px){
    .welcomig-pragraph{
        font-size: 2.2em;
        padding-right: 20px;
        padding-left: 40px;
        margin-top: 0;
    }
}
@media screen and (max-width: 325px){
    .welcomig-pragraph{
        font-size: 2em;
        padding-right: 20px;
        padding-left: 40px;
    }
}
/** end **/