/** declare variable in root **/
/** start **/ 
:root{
    
    /** declare color variable **/
    /** start **/
    --blackColor: hsl(0, 0%, 0%);
    --whiteColor: hsl(0, 0%, 100%);
    --darkGrayColor: hsl(0, 0%, 55%);
    --veryDarkGrayColor: hsl(0, 0%, 41%);
    /** end **/

    /** declare font family variable **/
    /** start **/
    --Font1: 'Alata', sans-serif ;
    --Font2: 'Josefin Sans', sans-serif ;
    /** end **/

}
/** end **/